# Retrieval of the data

In [41]:
import pandas as pd

## 1. Identifying, documenting data sources

* The data is coming from a public API for crypto exchanging (https://docs.gemini.com/rest-api/#price-feed)
* The format after reading is generated using JSON
* It is updated (??)

### Trading History from Gemini Cryptocurrencies API

In [42]:
import requests, json

base_url = "https://api.gemini.com/v1"
response = requests.get(base_url + "/trades/btcusd")
btcusd_trades = response.json()

print(btcusd_trades)

[{'timestamp': 1712257264, 'timestampms': 1712257264493, 'tid': 2840140835406600, 'price': '68508.76', 'amount': '0.05', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257262, 'timestampms': 1712257262790, 'tid': 2840140835406572, 'price': '68519.71', 'amount': '0.2', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257262, 'timestampms': 1712257262790, 'tid': 2840140835406569, 'price': '68519.71', 'amount': '0.08298', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257262, 'timestampms': 1712257262790, 'tid': 2840140835406568, 'price': '68537.22', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257260, 'timestampms': 1712257260026, 'tid': 2840140835406564, 'price': '68533.75', 'amount': '0.016', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257254, 'timestampms': 1712257254503, 'tid': 2840140835406562, 'price': '68553.98', 'amount': '0.021', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251012, 'tid': 2840140835406560, 'price': '68542.86', 'amount': '0.2', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251012, 'tid': 2840140835406558, 'price': '68542.86', 'amount': '0.1', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251008, 'tid': 2840140835406556, 'price': '68542.86', 'amount': '0.3', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251007, 'tid': 2840140835406554, 'price': '68542.86', 'amount': '0.2', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251007, 'tid': 2840140835406552, 'price': '68542.86', 'amount': '0.08705', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257251, 'timestampms': 1712257251002, 'tid': 2840140835406550, 'price': '68542.86', 'amount': '0.04', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257250, 'timestampms': 1712257250987, 'tid': 2840140835406548, 'price': '68527.29', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257250, 'timestampms': 1712257250864, 'tid': 2840140835406546, 'price': '68518.94', 'amount': '0.04', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257249, 'timestampms': 1712257249381, 'tid': 2840140835406536, 'price': '68513.37', 'amount': '0.1701', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249381, 'tid': 2840140835406535, 'price': '68516.03', 'amount': '0.00060091', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249381, 'tid': 2840140835406534, 'price': '68517.29', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249381, 'tid': 2840140835406533, 'price': '68528.13', 'amount': '0.00007835', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249381, 'tid': 2840140835406532, 'price': '68528.92', 'amount': '0.000982', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249035, 'tid': 2840140835406514, 'price': '68552.52', 'amount': '0.63742', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249026, 'tid': 2840140835406510, 'price': '68551.22', 'amount': '0.27346', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249025, 'tid': 2840140835406508, 'price': '68551.22', 'amount': '0.08912', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249012, 'tid': 2840140835406506, 'price': '68554.65', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249006, 'tid': 2840140835406503, 'price': '68563.68', 'amount': '0.11533', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249006, 'tid': 2840140835406502, 'price': '68567.6', 'amount': '0.00994', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257249, 'timestampms': 1712257249006, 'tid': 2840140835406500, 'price': '68567.6', 'amount': '0.00896', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257215, 'timestampms': 1712257215116, 'tid': 2840140835406466, 'price': '68589.67', 'amount': '0.000015', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257210, 'timestampms': 1712257210319, 'tid': 2840140835406456, 'price': '68581.6', 'amount': '0.00026979', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257208, 'timestampms': 1712257208150, 'tid': 2840140835406454, 'price': '68573.59', 'amount': '0.17824', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257202, 'timestampms': 1712257202783, 'tid': 2840140835406446, 'price': '68584.74', 'amount': '0.00002183', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257200, 'timestampms': 1712257200028, 'tid': 2840140835406426, 'price': '68629.56', 'amount': '0.1701', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257200, 'timestampms': 1712257200028, 'tid': 2840140835406425, 'price': '68627.56', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257200, 'timestampms': 1712257200028, 'tid': 2840140835406424, 'price': '68627.55', 'amount': '0.04', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257200, 'timestampms': 1712257200028, 'tid': 2840140835406423, 'price': '68625.64', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257200, 'timestampms': 1712257200028, 'tid': 2840140835406422, 'price': '68625.56', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257196, 'timestampms': 1712257196649, 'tid': 2840140835406420, 'price': '68611.7', 'amount': '0.00362938', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257178, 'timestampms': 1712257178245, 'tid': 2840140835406405, 'price': '68582.21', 'amount': '0.00932', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257178, 'timestampms': 1712257178237, 'tid': 2840140835406401, 'price': '68582.21', 'amount': '0.00958', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257178, 'timestampms': 1712257178237, 'tid': 2840140835406400, 'price': '68582.2', 'amount': '0.04', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257178, 'timestampms': 1712257178237, 'tid': 2840140835406399, 'price': '68578.78', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'buy'}, {'timestamp': 1712257178, 'timestampms': 1712257178224, 'tid': 2840140835406394, 'price': '68559.39', 'amount': '0.1267', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257178, 'timestampms': 1712257178224, 'tid': 2840140835406393, 'price': '68565.07', 'amount': '0.0843', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257178, 'timestampms': 1712257178224, 'tid': 2840140835406392, 'price': '68571.84', 'amount': '0.1701', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257178, 'timestampms': 1712257178224, 'tid': 2840140835406391, 'price': '68575.76', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257170, 'timestampms': 1712257170344, 'tid': 2840140835406385, 'price': '68561.52', 'amount': '0.03658', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257170, 'timestampms': 1712257170344, 'tid': 2840140835406384, 'price': '68562.15', 'amount': '0.04', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257170, 'timestampms': 1712257170344, 'tid': 2840140835406383, 'price': '68573.01', 'amount': '0.10155', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257170, 'timestampms': 1712257170344, 'tid': 2840140835406380, 'price': '68573.01', 'amount': '0.06855', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257170, 'timestampms': 1712257170344, 'tid': 2840140835406379, 'price': '68576.93', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'sell'}, {'timestamp': 1712257169, 'timestampms': 1712257169554, 'tid': 2840140835406377, 'price': '68577.89', 'amount': '0.0189', 'exchange': 'gemini', 'type': 'sell'}]

In [43]:
# load data into json array
history = json.loads(response.content.decode('utf-8'))

In [44]:
# print data for first station
history[0]

{'timestamp': 1712257264,
 'timestampms': 1712257264493,
 'tid': 2840140835406600,
 'price': '68508.76',
 'amount': '0.05',
 'exchange': 'gemini',
 'type': 'buy'}

In [45]:
# print data for tenth station
history[9]

{'timestamp': 1712257251,
 'timestampms': 1712257251007,
 'tid': 2840140835406554,
 'price': '68542.86',
 'amount': '0.2',
 'exchange': 'gemini',
 'type': 'buy'}

### Load Dataset into Pandas DataFrame
Load the JSON Array from the previous section into a Pandas DataFrame and display the first 10 rows.

In [46]:
history_df = pd.DataFrame(history)

In [47]:
history_df.head(10)

,timestamp,timestampms,tid,price,amount,exchange,type
0,1712257264,1712257264493,2840140835406600,68508.76,0.05,gemini,buy
1,1712257262,1712257262790,2840140835406572,68519.71,0.2,gemini,sell
2,1712257262,1712257262790,2840140835406569,68519.71,0.08298,gemini,sell
3,1712257262,1712257262790,2840140835406568,68537.22,0.0843,gemini,sell
4,1712257260,1712257260026,2840140835406564,68533.75,0.016,gemini,buy
5,1712257254,1712257254503,2840140835406562,68553.98,0.021,gemini,buy
6,1712257251,1712257251012,2840140835406560,68542.86,0.2,gemini,buy
7,1712257251,1712257251012,2840140835406558,68542.86,0.1,gemini,buy
8,1712257251,1712257251008,2840140835406556,68542.86,0.3,gemini,buy
9,1712257251,1712257251007,2840140835406554,68542.86,0.2,gemini,buy

### Dataset Detail

In [51]:
history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    50 non-null     int64
 1   timestampms  50 non-null     int64
 2   tid          50 non-null     int64
 3   price        50 non-null     float64
 4   amount       50 non-null     float64
 5   exchange     50 non-null     object
 6   type         50 non-null     object
dtypes: float64(2), int64(3), object(2)
memory usage: 2.9+ KB

In [49]:
# Change price and amount to floats
history_df['price'] = history_df['price'].astype(float)
history_df['amount']= history_df['amount'].astype(float)

In [50]:
history_df.describe()

          timestamp   timestampms           tid         price     amount
count  5.000000e+01  5.000000e+01  5.000000e+01     50.000000  50.000000
mean   1.712257e+09  1.712257e+12  2.840141e+15  68561.757800   0.085138
std    3.499374e+01  3.500425e+04  7.146321e+01     32.055367   0.108956
min    1.712257e+09  1.712257e+12  2.840141e+15  68508.760000   0.000015
25%    1.712257e+09  1.712257e+12  2.840141e+15  68542.860000   0.018900
50%    1.712257e+09  1.712257e+12  2.840141e+15  68561.835000   0.045000
75%    1.712257e+09  1.712257e+12  2.840141e+15  68578.557500   0.101163
max    1.712257e+09  1.712257e+12  2.840141e+15  68629.560000   0.637420